<% provide(:title, 'About') %> <h1>About</h1>
<p>
The <a href="https://www.railstutorial.org/contact">Ruby on Rails Tutorial</a>, part of the <a href="https://news.learnenough.com/">Learn Enough</a>. </p>